<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <base href="/">
    @Styles.Render("~/Content/Angular")
</head>
<body>
    @RenderBody()
    <app-root></app-root>
    @Scripts.Render("~/bundles/Angular")
</body>
</html>
